[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
keras-rl = "*"
tensorflow = "*"
pandas = "*"

[dev-packages]
matplotlib = "*"
plotly = "*"

[requires]
python_version = "3.6"
